* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: #918E9B;
}

nav {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F55A5A;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 0;
}

.nav--img {
    width: 24px;
    height: 24px;
}

.nav--p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    padding: 4px;
}

.card {
    width: 525px;
    padding: 10px
}

.card--list {
    justify-content: center;
    margin: 10px
}

.card--photo {
    margin: 10px 20px 20px 20px;
    float: left;
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
}

.card--content {
    margin: 25px 5px 5px 5px;
}

.card--pin {
    padding: 0px;
}

.card--locale {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
    padding: 6px;
}

.card--googleMap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #918E9B;
}

.card--title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin: 7px
}

.card--date {
    padding: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
}

.card--description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */
    color: #2B283A;
}

.card--line {
    display: flex;
    align-items: left;
    width: 560px;
    height: 0px;
    border: 1px solid #F5F5F5;
}